.underLay {
  background-color: #005AA3;
  height: 1000px;
  width: 100%;
}

.infoBar {
  width: 100%;
  height: 30px;
  background-color: #004E8E;
  color: white;
  font-family: Verdana;
  font-size: 10px;
  display: flex;
}

.infoBar > p {
  padding: 0px 5px 0px 5px;
}

hr {
  margin: 0px;
}

.main {
  background-color: white;
  height: 90%;
  margin: 15px 25px 30px 25px;
}

background-color: #004E8E;
background-color: #005AA3;